.contact__container {
    color: rgb(250, 250, 250);
    margin: 2rem;
    max-width: 80vw;

    .contact__heading {
        color: rgb(235, 247, 156);
        font-size: 1.8rem;
        margin: 1rem 0;
        text-decoration: none;
        text-shadow: 0 0 1px rgb(231, 241, 167);
    }

    .contact__text {
        margin: 1rem 0;
    }

    .contact__img {
        max-width: 80vw;

        @media screen and (max-width: 1800px) {
            max-width: 92vw;
        }
    }
}
