.interests__container {
    color: rgb(250, 250, 250);
    margin: 2rem;
    max-width: 80vw;

    @media screen and (max-width: 1800px) {
        max-width: 92vw;
    }

    .interests__heading {
        color: rgb(235, 247, 156);
        font-size: 1.8rem;
        margin: 1rem 0;
    }

    .interests__history_heading {
        color: rgb(235, 247, 156);
        margin: 1rem 0;
    }

    .interests__text {
        margin: 1rem 0;
    }

    .interests__img {
        max-width: 30vw;
    }
}
