{% extends "layouts/base.html" %}

{% block content %}
<article>
    <div class="about__container">
        <h2 class="about__heading">
            {{ title }}
        </h2>
        <p class="about__text">
            {{ text }}
        </p>
        <div>
            <img
                src="{{ hero.image }}"
                alt="{{ hero.imageAlt }}"
                loading="lazy"
                class="about__img"
            />
            <img
                src="{{ hero2.image }}"
                alt="{{ hero2.imageAlt }}"
                loading="lazy"
                class="about__img"
            />
            <img
                src="{{ hero3.image }}"
                alt="{{ hero3.imageAlt }}"
                loading="lazy"
                class="about__img"
            />
            <img
                src="{{ hero4.image }}"
                alt="{{ hero4.imageAlt }}"
                loading="lazy"
                class="about__img"
            />
        </div>
    </div>
</article>
{% endblock %}
