{% extends "layouts/base.html" %}

{% block content %}
<article>
    <div class="work__container">
        <div>
            <h2 class="work__heading">
                {{ title }}
            </h2>
        </div>
        <div class="work__history_container">
            {% for item in collections.work %}
            <div>
                <h3 class="work__history_heading">
                    {{ item.data.title }}
                </h3>
            </div>
            <div class="work__history">
                <p class="work__text">
                    {{ item.data.text }}
                </p>
                <img
                    src="{{ item.data.hero.image }}"
                    alt="{{ item.data.hero.imageAlt }}"
                    loading="lazy"
                    class="work__img"
                />
            </div>
            {% endfor %}
        </div>
    </div>
</article>
{% endblock %}
