<article class="featured__article">
    <div class="featured__container">
        <div>
            <h2 class="featured__heading">
                {{ featuredWork.title }}
            </h2>
            <p class="featured__summary">
                {{ featuredWork.summary }}
            </p>
        </div>
        <div class="featured__section">
        {% for item in collections.featuredWork %}
            <div class="featured__inner">
                <h3 class="featured__item_heading">
                    {{ item.data.title }}
                </h3>
                <p class="featured__summary">
                    {{ item.data.summary }}
                </p>
                <img
                    src="{{ item.data.hero.image }}"
                    alt="{{ item.data.hero.imageAlt }}"
                    loading="lazy"
                    class="featured__img"
                />
            </div>
            {% endfor %}
        </div>
        <div class="featured__button">
            <a href="/work/" class="button">See more</a>
        </div>
    </div>
</article>
